<div class="row justify-content-center">
    <div class="col-md-6">
        <form [formGroup]="loginForm"   >
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" 
                    placeholder="Enter email" formControlName="name">

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" 
                    placeholder="Enter email" formControlName="email">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>